Vagrant.configure("2") do |config|
  config.vm.box = "{{ vagrant_box }}"
  config.vm.box_version = "{{ vagrant_box_version }}"

  config.vm.provider "virtualbox" do |vb|
    vb.memory = "{{ vagrant_box_memory }}"
  end

  config.vm.define "gitlab-docker" do |machine|
    machine.vm.hostname = "gitlab-docker"
    machine.vm.network "private_network", ip: "192.168.33.10"
  end

  config.vm.define "ponzu" do |machine|
    machine.vm.hostname = "ponzu"
    machine.vm.network "private_network", ip: "192.168.33.11"
  end
end
