Vagrant.configure("2") do |config|
  config.vm.box = "{{ vagrant_box }}"
  config.vm.box_version = "{{ vagrant_box_version }}"

  config.vm.provider "virtualbox" do |vb|
    vb.memory = "{{ vagrant_box_memory }}"
  end

  config.vm.define "gitlab" do |machine|
    machine.vm.hostname = "gitlab"
    machine.vm.network "private_network", ip: "192.168.33.10"
  end

  config.vm.define "gitlab-runner" do |machine|
    machine.vm.hostname = "gitlab-runner"
    machine.vm.network "private_network", ip: "192.168.33.11"
  end

  config.vm.define "ketchup" do |machine|
    machine.vm.hostname = "ketchup"
    machine.vm.network "private_network", ip: "192.168.33.12"
  end

  config.vm.define "ketchup-nginx" do |machine|
    machine.vm.hostname = "ketchup-nginx"
    machine.vm.network "private_network", ip: "192.168.33.13"
  end
end
