Vagrant.configure("2") do |config|
  config.vm.box = "{{ vagrant_box }}"
  config.vm.box_version = "{{ vagrant_box_version }}"

  config.vm.define "gitlab" do |machine|
    machine.vm.hostname = "gitlab"
    machine.vm.network "private_network", ip: "{{ gitlab_ip }}"

    machine.vm.provider "virtualbox" do |vbox|
        vbox.cpus = {{ gitlab_cpus }}
        vbox.memory = {{ gitlab_memory }}
    end
  end

  config.vm.define "gitlab-runner" do |machine|
    machine.vm.hostname = "gitlab-runner"
    machine.vm.network "private_network", ip: "{{ gitlab_runner_ip }}"

    machine.vm.provider "virtualbox" do |vbox|
        vbox.cpus = {{ gitlab_runner_cpus }}
        vbox.memory = {{ gitlab_runner_memory }}
    end
  end

  config.vm.define "ketchup" do |machine|
    machine.vm.hostname = "ketchup"
    machine.vm.network "private_network", ip: "{{ ketchup_ip }}"
    config.vm.network "forwarded_port", guest: 80, host: 8082

    machine.vm.provider "virtualbox" do |vbox|
        vbox.cpus = {{ ketchup_cpus }}
        vbox.memory = {{ ketchup_memory }}
    end
  end

  config.vm.define "ketchup-nginx" do |machine|
    machine.vm.hostname = "ketchup-nginx"
    machine.vm.network "private_network", ip: "{{ ketchup_nginx_ip }}"
    config.vm.network "forwarded_port", guest: 80, host: 8083

    machine.vm.provider "virtualbox" do |vbox|
        vbox.cpus = {{ ketchup_nginx_cpus }}
        vbox.memory = {{ ketchup_nginx_memory }}
    end
  end

  config.vm.define "test-ketchup" do |machine|
    machine.vm.hostname = "test-ketchup"
    machine.vm.network "private_network", ip: "{{ test_ketchup_ip }}"
    config.vm.network "forwarded_port", guest: 80, host: 8084

    machine.vm.provider "virtualbox" do |vbox|
        vbox.cpus = {{ test_ketchup_cpus }}
        vbox.memory = {{ test_ketchup_memory }}
    end
  end

  config.vm.define "test-ketchup-nginx" do |machine|
    machine.vm.hostname = "test-ketchup-nginx"
    machine.vm.network "private_network", ip: "{{ test_ketchup_nginx_ip }}"
    config.vm.network "forwarded_port", guest: 80, host: 8085

    machine.vm.provider "virtualbox" do |vbox|
        vbox.cpus = {{ test_ketchup_nginx_cpus }}
        vbox.memory = {{ test_ketchup_nginx_memory }}
    end
  end
end
